@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@layer base {
    @font-face {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(/font/Avenir-Heavy.woff) format("woff2");
    }
}
